.buildlog
.DS_Store
.atom/
.pub/
.settings/
**/build
**/packages
**/pubspec.lock
**/.packages
**/.dart_tool

.idea/*
!/.idea/built_viewmodel.dart.iml
!/.idea/compiler.xml
!/.idea/modules.xml
!/.idea/vcs.xml
